.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
}

.loginLeft, .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    color: #1775ee;
}

.loginDesc {
    padding: 10px 20px;
    font-size: 24px;
    max-width: 450px;
}

.loginBox {
    height: 380px;
    width: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 18px;
    padding: 0 10px;
    outline: none;
}

.loginButton {
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #1775ee;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.loginForgot {
    cursor: pointer;
    color: #1775ee;
}

.loginRegisterButton {
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #42b72a;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}